body {
	font-family: helvetica, verdana, sans-serif;
	margin: 0;
}

.nav {
	padding-bottom: 50px;
	background-color: #191919;
	color: #191919;
	margin-bottom: 100px;
	margin-top: -16px;
}

#nav ul {
	list-style:none;
	display: block;
	text-align: center;
	background-color: #191919;
	color: #ffffff;
	margin: 0;
}

#nav li {
	display: inline;
	width: 25%;
	float: left;
}

#nav li a {
	text-decoration: none;
	font-size: 24px;
	float: left;
	padding: 10px;
	padding-left: 50px;
	padding-right: 50px;
	background-color: #191919;
	color: #ffffff;
}

#nav li a:hover {
	background-color: #2f2f2f;
}

.intro {
	text-align: center;
	margin-bottom: 50px;
}

#profile {
    width: 300px;
    height: 300px;
}

.pastintro {
	background-color: #d4ede9;
	border-top: 3px solid;
	padding: 75px 0;
	display: block;
	text-align: center;
}

.tampa {
	padding: 0;
	display: block;
	text-align: center;
	background-color: #cccccc;
}

#tpa {
	padding: 0;
	display: block;
	text-align: center;
	width: 100%;
}

.about {
	padding: 75px 0;
	display: block;
	text-align: center;
	background-color: #191919;
	color: #ffffff;
}

#blurb {
	padding-left: 5%;
	padding-right: 5%;
}

.second {
	padding: 75px 0;
	display: block;
	text-align: center;
	background-color: #f0fcff;
}

.github {
	padding: 75px 0;
	border-top: 2px solid #d7e2ea;
	display: block;
	text-align: center;
	background-color: #ffffff;
}

.contact {
	padding: 75px 0;
	border-top: 2px solid #d7e2ea;
	display: block;
	text-align: center;
	background-color: #191919;
	color: #ffffff;
}
